.button {
  width: 30%;
  height: 46px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-button {
  margin-right: 10px;
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button.outlined {
  border: 2px solid blue;
  background-color: transparent;
  color: blue;
}

.button.outlined.disabled {
  border-color: gray;
  color: gray;
}

.button.filled {
  background-color: blue;
  color: white;
}

.button.filled.disabled {
  background-color: gray;
  cursor: not-allowed;
}
