.button {
  width: 30%;
  height: 46px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.left-button {
  margin-right: 10px;
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
