.landing-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.main-heading {
  text-align: center;
  margin-top: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  margin-right: 60px;
}

.address-row {
  display: flex;
  justify-content: space-between;
}

.half-width-input {
  flex: 1;
  margin-right: 10px;
}

.half-width-input:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .form {
    margin-right: 30px;
    max-width: 50vw;
  }

  .address-row {
    flex-direction: column;
  }

  .half-width-input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .half-width-input input {
    width: 95%;
  }
}
